*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../Dados/imagens/background_loja.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    overflow-x: hidden;
    padding: 120px 20px;
}

h1, h2 {
    color: #ffffff;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
}

h1, h2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.first {
    background-color: #152163;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: #373176c2 0px 6px 24px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.p{
    color: #ddd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#user{
    color: #78faff;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#idPerfil{
    color: white;
    font-weight: bolder;
}

.idPerfil{
    color: white;
    font-weight: bolder;
}

#perfil{
    color: white;
}

.fa-cart-shopping {
    font-size: 50px;
    transition: all 200ms ease-in-out;
    color: #ffffff;
}

.fa-cart-shopping:hover {
    color: #ffffffb5;
    opacity: 1;
    cursor: pointer;
}

.center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
}

.card-title{
    color: rgb(255, 255, 255);
}

.card{
    color: #ffffff;
    padding: 0 !important;
    border: 2px solid #68c0ffc2;
    box-shadow: #68c0ffc2 0px 6px 24px;
}

.card-body{
    background-color: #3f3838;
}

.btn-adicionar-ao-carrinho{
    background-color: #3f3838;
    border-color: #ffffff;
}

.btn-adicionar-ao-carrinho:hover{
    background-color: #152163;
    border-color: transparent;
}


